.minor {
  font-size: 30px;
  color: white;
}
.major {
  font-size: 60px;
  color: white;
}

.label {
    color: white;
    margin: 20px;
    font-size: 30px;
    align-items: center;
    margin-left: 25%;
    padding: 125px;


}
.input_d{
  border: #030423;
  color: rgb(0, 0, 0);
  margin-left: 70px;
  font-size: 30px;
  align-items: center;
}

.input{
  border: #030423;
  color: rgb(0, 0, 0);
  margin-left: 55px;
  font-size: 30px;
  align-items: center;
}

#Title { 
    color: rgb(241, 250, 250);
    margin:auto;
    font-size: 80px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
  .wrapper {
    height:99%;
    width: 99%;
    background: linear-gradient(180deg, #04fafd, 5%, #119dff, 50%, #030423);
    position: absolute;
  }
  #Total{
    color: white;
    font-size: 50px;
  }
  #button {
    color: lime;
    margin-left: 43%;
    align-self: center;

  }
  body{
    background: linear-gradient(180deg, #04fafd, 5%, #119dff, 50%, #030423);
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  .divider {
    color: white;
    padding: 20px;
  }
.box {
  border: white;
  border-style:dashed;
  width: 250px;
  
}
.grid-container{
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
}
.buttonss{
  font-size: 30px;
  margin-top: 10%;
}
#submit-button{
  margin-left: 45%;
  font-size: 40px;
  color: rgb(255, 0, 0);
}
#submit{
  margin-top: 10%;
}
.white{
  color: white;
}